body {
    background-color: black;
    position: absolute;    
    background-image: url(https://www.sciencesetavenir.fr/assets/img/2021/05/28/cover-r4x3w1000-60b0f1a04ad6b-y-a-gagarin.jpg);
    position: fixed;
    background-size: cover;          
  }

#aside {
    border: solid;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
    justify-content: center;
    align-items: center;
    display:flex;
    color:rgb(255, 255, 255);
    width: 300px;
    height: 800px;
    margin-top: 50px;
    margin-left: 50px;
    overflow: auto;
}

p {
  padding: 10px;
  font-family: Arial;
  font-weight: bold;
}
